.videoContainer {
  background-image: url(../../../../../public/images/video/memoraLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-color: rgba(0, 0, 0, 0.1);
}